*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    margin-left: 60px;
    margin-right: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    background-color: white;
}

body{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-image: url(imagenes/imagen\ logo\ 1\ \(2\).jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    background-color: rgb(255, 253, 253);
}



header, footer{
    background-color: rgba(38, 254, 243, 0.934);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

footer{
    height: 20vh;
}

.logo img{
    width: 200px;
    border-radius: 50px;
    justify-content: center;
    text-align: center;
}

nav{
    background-color: rgba(136, 141, 139, 0.929);
    padding: 20px;
    text-align: center;
}

nav  a{
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 7px;
    display: inline-block;
}

nav a:hover{
    background-color: white;
    color: black;
    transform: scale(1.2);
    transition: all 0.5s ease;
}

main {
    text-align: center;
    justify-content: center;

}

img{
    width: 700px;
}

.top{
    width: 31.25rem;
    height: 18.75rem;
    padding: 1.25rem;
    margin: 1.5625rem auto;
    text-align: left;
}

.top img{
    width: 150px;
}

.top p{
    text-align: left;
    justify-content: center;
}



.plana{
    width: 31.25rem;
    height: 18.75rem;
    padding: 1.25rem;
    margin: 1.5625rem auto;
    text-align: right;
}

.plana img{
    width: 150px;
}


.plana .p{
    text-align: right;
}

.classic{
    width: 31.25rem;
    height: 18.75rem;
    padding: 1.25rem;
    margin: 1.5625rem auto;
    text-align: left;
}

.classic img{
    width: 150px;
}